<div class="index_container">
  <div id="signup_area">
    <div class="sign_up_button">
      <%= link_to content_tag(:span, "Jetzt Registrieren!"), sign_up_path %>
      <!-- <h3>Jetzt Registrieren!</h3> -->
    </div>
  </div>
</div>