<% content_for :head do %>
    <%= stylesheet_link_tag 'start' %>
  <% end %>


  <div class="centralize draggable" id="anmelden">
    <h1>bandmate.fm</h1><br>
    <input type="text" name="username" value="" /><br/>
    <input type="password" name="password" value=""  /><br/>
    <input type="submit" value="Anmelden" name="submit" class="submit" />
  </div>    
