<% title "get started!" %> 




<div class="start_container">
  <div class="anmelden">
    <%= render :partial => "login_form"%>
  </div>
</div>
<footer>
  <nav>
    <ul>
      <li><p>Über Uns</p></li>
      <li><p>Hilfe</p></li>
      <li><p>Bedingungen</p></li>
      <li><p>Entwickler</p></li>
      <li><p>Quellen</p></li>
    </ul>
  </nav>
</footer>
<div class="sep_line1"></div>
