<% title "get started!" %> 




<div class="start_container">
  <%= image_tag 'logo_gelb.png', :width => "168px", :class => "logo"%><br>
    <div class="anmelden">
      <%= render :partial => "login_form"%>
    </div>
      
      <div class="intro_text">
        <p>Behalte alles im Überblick<br /> Kosten, Konzerte etc.. <br/>
          <strong>schnell und einfach</strong></p>
      </div><nobr>
      <div class="signup_container">
        <div id="signup">
          <p class="not_signed_up">
            Noch nicht angemeldet?<em> Mach mit.</em></p>
            <%= render :partial => "registrations/sign_up" %>
        </div>
      </div>
    </div>
</div>
<footer>
  <nav>
    <ul>
      <li><p>Über Uns</p></li>
      <li><p>Hilfe</p></li>
      <li><p>Bedingungen</p></li>
      <li><p>Entwickler</p></li>
      <li><p>Quellen</p></li>
    </ul>
  </nav>
</footer>
<div class="sep_line1"></div>
