<% content_for :title do %> get started! 
<% end %>

<% content_for :head do %>
    <%= stylesheet_link_tag 'start' %>
  <% end %>

<div class="start_container">
  <%= image_tag 'logo_gelb.png', :class => "logo"%><br>
    <div class="anmelden">
      <%= render :partial => "login_form"%>
    </div>
      <div id="signup">
        <p>Not signed up yet?<em> Sign up.</em></p>
        <%= render :partial => "devise/registrations/sign_up" %>
      </div>
      <div class="intro_text">
        <p>Organize your bands<br /> and everything around<br/>
          <strong>"the proper way"</strong></p>
      </div>
    </div>
    <div class="sep_line1"></div>
    <div class="sep_line2"></div>  
</div>
