<%= form_for [@band, post], :id => "new_post", :remote => true do |f| %>

  <div class="post_input" id="post_field"><%= f.text_area :content %></div>
  <div class="post_button"> <%= f.submit "Post it", :id => "post_button" %></div>
  <!-- <div class="postit_sep"></div>
  <div id="add_media">
    <%#= image_tag 'posts/add_audio.png' %>
  </div>
  <div class="postit_sep"></div>
  <div id="add_media">
    <%#= image_tag 'posts/add_link.png' %>
  </div>
  <div class="postit_sep"></div>
  <div id="add_media">
    <%#= image_tag 'posts/add_photo.png' %>
  </div>
  <div class="postit_sep"></div>
  <div id="add_media">
    <%#= image_tag 'posts/add_video.png' %>
  </div> -->
  
<% end %>
