<%= title "#{current_user.username} @ #{ @band.name } | bandmate "%>

<%= image_tag 'triangle_white.png', :class => 'triangle_posts' %>

  
    <div class="post_it_container">
      <h5 class="news">Was gibt's neues?</h5>
      <%= render :partial => 'form', :locals => {:post => @post} %>
    </div>
  
  <div id="posts">
    <%= render :collection => @posts, :partial => "post" %>
  </div>
  