// Place all the styles related to the Bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	
	
	
* { margin: 0; padding: 0px; }

body {
	background: #898989;
}



.headers {
	width: 100%;
	background: #898989;
}

.band_header {
	border-top: 2px solid #e5e5e5;
	z-index: 49;
	position: relative;
	//background: #c7c7c7;
	width: 100%;
	height: 40px;
	margin-top: 0px;
	@include round-bottom-left(6px);
	@include round-bottom-right(6px);
	box-shadow: rgba(0, 0, 0, 0.90) 0px 1px 7px;
	background: -webkit-gradient(linear, left top, left bottom, 
	                             from(#d6d6d6), to(#c0bfbf));
	                              
}

#band_menu {
	display: inline-block;
}

#band_menu ul {
	margin-left: 22px;
	padding-top: 11px;
	float: left;
	a {
		color: #131313;
	 	text-decoration: none;
		font-size: 13px;
		font-weight: 600;
		text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
		&:hover {
			color: #4f4f4f; 
			text-decoration: none;
			font-weight: 600;
	  }
	}
}

#band_menu ul li{
	list-style-type: none;
	display: inline-block;
	padding-right: 15px;
}

.triangle {
	position: fixed;
	left: 30px;
	top: 62px;
	z-index: 55;
}

#section_head_bg {
	display: inline;
	position: absolute;
	right: 15px;
	top: 0px;
	font-size: 15px;
	padding: 0px 12px 0px 12px;
	height: 40px;
}

.bandname_wrap {
	margin-top: 12px;
}

.select_arrow {
	float: left;
	margin-top: 6px;
	margin-right: 7px;
	cursor: pointer;
}

.section_head {
	display: inline;
	white-space: nowrap;
	float: left;
	cursor: pointer;
	a {
		color: #292929;
	 	text-decoration: none;
		font-size: 15px;
		font-weight: 600;
		text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
		&:hover {
			color: #666666; 
			text-decoration: none;
			font-weight: 600;
	  }
	}
}

.settings {
	width: 13px;
	
}

#band_selector {
	z-index: 3;
	position: absolute;
	right: 30px;
	top: -200px;
	background: white;
	@include round-bottom-left(3px);
	@include round-bottom-right(3px);
	box-shadow: rgba(0, 0, 0, 0.60) 0px 3px 6px;
	//display: none;
	padding: 15px 0px 10px 0px;
	a {
		color: black;
		font-size: 13px;
		font-weight: 400;
		text-decoration: none;
		padding: 5px 30px 5px 30px;
		&:hover {
			color: #828282;
			font-weight: 400;
			//background: #dedede;
			padding: 5px 30px 5px 30px;
			width: 100%;
		}
	}
}

#band_selector ul li {
	list-style-type: none;
	margin-top: 5px;
	
}

#deine_bands {
	margin-left: 30px;
}

#band_list {
	margin-left: 30px;
}

.band_sel_sep {
	margin-bottom: 10px;
	margin-top: 10px;
	height: 1px;
	background: rgba(0, 0, 0, 0.2);
	width: 100%;
}

.neue_band {
	margin-top: 0px;
	
}



/* Main Content */

.overview_container {
	position: relative;
	width: 98%;
	height: 705px;
	background: white;
	@include round-bottom-left(15px);
	@include round-bottom-right(15px);
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}


/* BAND EDIT PAGE */


.edit_container {
	position: relative;
	width: 960px;
	height: 700px;
	padding-top: 1px;
	background: white;
	@include center;
	@include round-bottom-left(6px);
	@include round-bottom-right(6px);
}

#einstellungen {
	margin-bottom: 60px;
}

.edit_wrap {
	margin-left: 60px;
	margin-top: 40px;
	
}

.edit_wrap input[type=text], input[type=email], input[type=password] {
	height: 22px;
	width: 350px;
	font-family: arial;
	font-size: 14px;
	border:1px solid #505050;
	@include round-all(3px);
	padding-left: 3px;
}

#band_edit {
	text-align: right;
	color: #5d5d5d;
	font-size: 13px;
	margin-top: 30px;
	margin-bottom: 60px;
}

#band_edit col {
	width: 150px;
}

#band_edit tr td {
	padding-right: 10px;
	padding-bottom: 30px;
}

.delete_band {
	a {
		color: black;
	 	text-decoration: none;
		font-size: 13px;
		font-weight: 600;
		&:hover {
			color: black; 
			text-decoration: line-through;
			font-weight: 600;
	  }
	}
}

.align_left {
	text-align: left;
}


