// Place all the styles related to the Bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* { margin: 0; padding: 0px; }

body {
	background: $bg-main;
}
	
a {
	color: #222222;
 	text-decoration: none;
	font-size: 14px;
	&:hover {
		color: #ececec; 
		text-decoration: none;
		font-size: 14px;		
  }
}

.headers {
	width: 100%;
	background: $bg-main;
}

#band_header {
	z-index: 49;
	position: relative;
	background: #c7c7c7;
	width: 100%;
	height: 45px;
	margin-top: 0px;
	@include round-bottom-left(5px);
	@include round-bottom-right(5px);
	box-shadow: rgba(0, 0, 0, 0.80) 0px 2px 7px;
}

#band_menu {
	display: inline-block;
}

#band_menu ul {
	font-weight: bold;
	font-size: 15px;
	margin-left: 22px;
	padding-top: 14px;
}

#band_menu ul li{
	list-style-type: none;
	display: inline-block;
	padding-right: 20px;
}

.triangle {
	position: absolute;
	left: 30px;
	top: 65px;
	z-index: 49;
}

#section_head_bg {
	display: inline;
	position: absolute;
	right: 53px;
	top: 0px;
	font-size: 15px;
	padding: 0px 12px 0px 12px;
	height: 45px;
}

.bandname_wrap {
	margin-top: 12px;
}

.select_arrow {
	float: left;
	margin-top: 8px;
	margin-right: 10px;
	cursor: pointer;
}

.section_head {
	display: inline;
	white-space: nowrap;
	font-size: 18px;
	font-weight: 600;
	float: left;
	cursor: pointer;
}

.settings {
	position: absolute;
	right:24px;
	top: 14px;
	width: 18px;
	
}

#band_selector {
	width: 240px;
	height: 150px;
	z-index: 55;
	position: absolute;
	right: 53px;
	top: 45px;
	background: white;
	//border: 1px solid #6d6d6d;
	border-top: 0px solid #6d6d6d;
	@include round-bottom-left(5px);
	@include round-bottom-right(5px);
	box-shadow: rgba(0, 0, 0, 0.60) 0px 3px 6px;
	display: none;
}

.member_container {
	float: left;
	margin-top: 7px;
	margin-right: 10px;
}

.member_name {
	font-size: 10px;
	text-align: center;
}

.member_image {
	height: 40px;
	width: 40px;
	margin-top: 1px;
	border: 1px solid #b7b7b7;
	@include round-all(7px);
}

/* Main Content */

.overview_container {
	width: 98%;
	height: 600px;
	background: white;
	@include round-bottom-left(7px);
	@include round-bottom-right(7px);
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

//.side_menu {
//	height: 100%;
//	width: 80%;
//	background: #fbfbfb;
//	@include round-all(7px);
//	box-shadow: 
//	  rgba(0, 0, 0, 0.70) 3px 0px 5px
//}





/* HEADER */


#top_menu_1 {
	width: 100%;
	height: 30px;
	border-top:1px solid #3c3c3c;
	border-bottom:1px solid #111111;
	background: black;
	/*background: 
		  -webkit-gradient(linear, left top, left bottom, 
		                   from(#313131), to(#000000));*/
	padding: 0px;
}

.logo {
	margin-top: 3px;
	margin-left: 12px;
	float: left;
	height: 18px;
}

nav {
	margin-top: 16px;
	margin-left: 30px;
	float:left;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding-right: 20px;
	font-size: 17px;
	color: white;
}

.profile_image {
	width: 20px;
	float: left;
	margin-right: 10px;
	margin-top: -1px;
	@include round-all(2px)
}

.logged_in_as {
	color: #747474;
	font-size: 13px;
	float:left;
	margin-right: 10px;
	margin-top: 2px;
}

.logged_user {
	display: inline;
	position: absolute; right:0px;
	float:left;
	margin-right: 84px;
	margin-top: 6px;
	a {
		color: #7e7e7e;
		font-size: 13px;
		&:hover {
			text-decoration: none;
			color: #b1b1b1;
		}
	}
}

.vert_line {
	position: absolute; 
	right:75px;
	top: 9px;
	width: 1px;
	height: 15px;
	background: #7e7e7e;
}

.logout {
	position: absolute; 
	right:24px;
	top: 7px;
	a {
		color: #7e7e7e;
		font-size: 13px;
		font-weight: 500;
		&:hover {
			text-decoration: none;
			color: #b1b1b1;
		}
	}
}

