body { 
	background-color: #272727;
}

p {
	font-size: 13px;
}

a:link {
	color: #000000;
}
a:hover {
	color: #e0e0e0;
}
a:visited {
	color: #000000;
}


/* Home Page layout */

.top_menu_1 {
	width: 100%;
	height: 50px;
	/*background-color: #ebc700;*/
	border-top:1px solid #3c3c3c;
	border-bottom:1px solid #111111;
	background: 
	  -webkit-gradient(linear, left top, left bottom, 
	                   from(#3c3c3c), to(#111111));
	padding: 0px;
	
}

.top_menu_container {
	top-padding: 0px;
	width: 950px;
	margin-left:auto;
	margin-right: auto;
}

.logo {
	float:left;
	display: inline-block;
	font-size: 29px;
	color: #ebc700;
	/*text-shadow: 1px 1px #aaaaaa;*/
	margin-top: 9px;
	letter-spacing: -2px;
	
}

.main_container {
	width: 890px;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: white;
	padding:30px;
}

nav {
	margin-top: 19px;
	margin-left: 50px;
	display: inline-block;
	white-space: nowrap;
	float:left;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding-right: 20px;
	font-size: 17px;
}

.settings_log {
	float:right;
	margin-top: 15px;
	margin-right: 15px;
}

.logged_user {
	float:left;
	margin-right: 10px;
	margin-top: 5px;
}

.thumbnail {
	width:30px;
	height: 30px;
	float:left;
	margin-right: 10px;
	margin-bottom: 6px;
	-moz-border-radius:       4px;
	-webkit-border-radius:    4px;
	border-radius:            4px;
}


/*Profile Page*/

.profile_image {
	width:120px;
	height: 120px;
	float:left;
	margin-right: 30px;
}

.username {
	font-size: 50px;
	font-weight: bold;
	margin-left: 30px;
}






















