// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pages_controller {

/*Profile Page*/


.profile_container {
	width: 890px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: white;
	padding:30px;
	@include round-all(7px);
}

.profile_image {
	float:left;
	margin-right: 30px;
	@include round-all(7px);
}

.username {
	font-size: 35px;
	font-weight: bold;
	margin-left: 30px;
}

.add_band {
	font-weight: bold;
	margin-top: 100px;
	color: #6e6e6e;
	font-size: 30px;
}

.add_room {
	font-weight: bold;
	font-size: 30px;
	margin-top: 50px;
	color: #6e6e6e;
}




}

