// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Main Content */

.posts_container {
	position: fixed; top: 70px; left: 477px;
	width: 900px;
	height: 650px;
	background: white;
	@include round-bottom-right(7px);
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}



.triangle_posts {
	position: fixed;
	left: 113px;
	top: 62px;
	z-index: 49;
}

// POST IT AREA //

.post_it_container {
	position: absolute; top: 70px; left: 90px;
	z-index: 3;
	position: fixed;
	width: 650px;
	@include round-bottom-left(7px);
	padding-top: 25px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	background: white;
}

.news {
	font-size: 14px;
	margin-left: 30px;
	margin-bottom: 5px;
	color: #3f3f3f;
}

textarea {
	font-family: arial;
	font-size: 14px;
	color: black;
    width: 575px;
	height: 18px;
	padding: 5px;
    margin-bottom: 5px;
	margin-left: 30px;
    border: 1px solid #b3b3b3;
	@include round-all(3px);
	text-align: top-left;
	resize: none;
}

// ADD MEDIA AREA //

.postit_sep {
	width: 100%;
	height: 1px;
	background: #c1c1c1;
	margin-bottom: 10px;
}

#add_media {
	margin-left: 30px;
	margin-bottom: 80px;
}

// END //

.post_button {
	margin-left: 560px;
	margin-bottom: 0px;
	padding-bottom: 15px;
	//display: none;
}

#post_button {
	display: none;
}

//input[type=submit], input[type=reset], button, .button {
//
//	background: #d0d0d0 url(btn.bg.png) repeat-x 0px 0px;
//	height: 26px;
//	width: 50px;
//	font-family: arial;
//	font-size: 13px;
//	font-weight:bold;
//	border:1px solid #505050;
//	border-radius: 5px;
//	@include round-all(5px);
//	text-shadow: 1px 1px #fff;
//	margin-left: 3px;
//}





#posts {
	position: absolute;
	left: 90px;
	top: 140px;
	z-index: 1;
	width: 651px;
	padding-top: 30px;
	overflow: auto;
	@include round-bottom-left(7px);
	@include round-bottom-right(7px);
	background: white;
	border-left: 1px dashed #494949;
	border-right: 1px dashed #494949;
}

#post_wrap {
	position:relative;
	width: 100%;
	
	margin-bottom: 20px;
	//background: white;
}

.post {
	background: white;
	position:relative;
	margin-bottom: 1px;
	//width: 100%;
	padding: 20px 0px 30px 20px;	
	border-bottom: 1px solid #c2c2c2;
	@include round-bottom-right(7px);
	@include round-bottom-left(7px);
}

.post_selected {
	background: #eeecec;
}

.posted_at {
	width: 300px;
	font-size: 11px;
	color: #9b9b9b;
	margin-top: 3px;
}

.arrow_posts {
	position: absolute;
	right: 15px;
	top: 15px;
	display: none;
}

.profile_image_small {
	width: 45px;
	height: 45px;
	float: left;
	@include round-all(2px);
	margin-right: 15px;
}

.username {
	margin-top: 0px;
	margin-bottom: 3px;
	margin-right: 8px;
	font-size: 14px;
	font-weight: bold;
	float: left;
}

.content {
	display: inline-block;
	margin-top: 10px;
	margin-left: -75px;
	width: 70%;
	color: #232323;
	font-weight: 400;
	font-size: 13px;
	a {
		font-weight: 600;
		color: black;
		text-decoration: underline;
	}
}

#posts_wrap {
	float: left;
}

.delete_link {
	position: absolute;
	top: 15px;
	right: 20px;
}

	